{% extends "base.html" %}


{% block titulo %} Inicio {% endblock %}

{% block contenido %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Bienvenido al inventario del almacén</h1>
        <p class="col-md-8 fs-4">Recuerda ser buena persona y decir a todo el mundo que Lázaro merece un aumento de
            sueldo GRANDOTOTOTE</p>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="Image Source" class="img-fluid rounded-start" alt="Card title">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2><a href="{% url 'listaProductos' %}">Productos</a></h2>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="Image Source" class="img-fluid rounded-start" alt="Card title">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2><a href="{% url 'nuevoProducto' %}">Nuevo Producto</a></h2>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-primary" role="alert">
            <h2><a href="{% url 'listaProductos' %}">Productos</a></h2>
        </div>
        <div class="alert alert-success" role="alert">
            <h2><a href="{% url 'nuevoProducto' %}">Nuevo Producto</a></h2>
        </div>
    </div>
</div>




{% endblock %}