
.fondo {
    background-color: #20a5c0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
}

.card-body li {
    display: inline-block;
    width: 33.33%;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
}

.ancho-input {
    width: 5px;
}

.arriba {
    width: 165px;
    height: 62px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: #100720;
    transition: 0.1s;
}

.arriba::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(255,94,247,1)17.8, rgba(2,245,255,1)100.2%);
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

.arriba:active {
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient(circle farthest-corner at 10% 20%, rgba(255,94,247,1)17.8, rgba(2,245,255,1)100.2%);
    transition: 0.5s;
}

.mostrar{
    font-size: 200px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}