
<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for campo in formulario %}
    <div class="mb-3">
        <label for="{{ campo.id_for_label }}" class="form-label">{{ campo.label }}</label>
        {% if campo.field.widget.input_type == 'file' and campo.value %}
        <br />
        <img src="{{ MEDIA_URL }}{{ campo.value.url }}" alt="Imagen" width="100px">
        <a href="{{ campo.value.url }}" download="{{ nombre_archivo }}">{{ nombre_archivo }}</a>
        <!-- <a src="{{ MEDIA_URL }}{{ campo.value.url }}" 
                download="{{ campo.value.name }}"
                for="{{ campo.id_for_label }}" 
                class="form-label">{{ MEDIA_URL }}{{ campo.value.url}}</a> -->
        <input type="{{ campo.field.widget.input_type }}" class="form-control" name="{{ campo.name }}"
            id="{{ campo.id_for_label }}" aria-describedby="" placeholder="{{campo.name}}"
            value="{{ campo.value | default_if_none:'' }}">
        {% elif campo.name == 'tipoEquipo' %}
        <select class="form-control form-control-sm" name="{{ campo.name }}" id="{{ campo.id_for_label }}">
            <option>{{ formulario.tipoEquipo.value }}</option>
            <option value="COMPRESOR">COMPRESOR</option>
            <option value="CINTA CORRER">CINTA CORRER</option>
            <option value="EQUIPAMIENTO ORTOPODOLÓGICO">EQUIPAMIENTO ORTOPODOLÓGICO</option>
            <option value="ESTERILIZADOR">ESTERILIZADOR</option>
            <option value="LAVAVAJILLAS">LAVAVAJILLAS</option>
            <option value="EQUIPAMIENTO ODONTOLÓGICO">EQUIPAMIENTO ODONTOLÓGICO</option>
            <option value="LOCALIZADOR ÁPICES">LOCALIZADOR ÁPICES</option>
            <option value="MANIQUÍ DENTAL">MANIQUÍ DENTAL</option>
            <option value="RECORTADORA">RECORTADORA</option>
            <option value="MESAS ODONTOLÓGICAS">MESAS ODONTOLÓGICAS</option>
            <option value="REGULADOR VELOCIDAD">REGULADOR VELOCIDAD</option>
            <option value="MOTOR ASPIRACIÓN">MOTOR ASPIRACIÓN</option>
            <option value="PULIDORA">PULIDORA</option>
            <option value="OSMOSIS">OSMOSIS</option>
            <option value="IMAGEN DIAGNÓSTICA">IMAGEN DIAGNÓSTICA</option>
            <option value="REVELADORA">REVELADORA</option>
            <option value="TERMOSELLADORA">TERMOSELLADORA</option>
            <option value="SILLÓN DENTAL">SILLÓN DENTAL</option>
            <option value="SILLÓN PODOLÓGICO">SILLÓN PODOLÓGICO</option>
        </select>
        {% elif campo.field.widget.input_type == 'checkbox' %}
        <select class="form-control form-control-sm" name="{{ campo.name }}" id="{{ campo.id_for_label }}">
            <option>{{ formulario.licitado.value }}</option>
            <option value="True" {% if campo.value %} selected {% endif %}>Licitado</option>
            <option value="False" {% if not campo.value %} selected {% endif %}>No Licitado</option>
        </select>
        {% elif campo.name == 'clinica' %}
        <select class="form-control form-control-sm" name="{{ campo.name }}" id="{{ campo.id_for_label }}">
            <option>{{ formulario.clinica.value }}</option>
            <option value="Odontología">Odontología</option>
            <option value="Podologia">Podología</option>
            <option value="Cunnaf">Cunnaf</option>
            <option value="Optometria">Optometría</option>
            <option value="Logopedia">Logopedia</option>
            <option value="Psicología">Psicología</option>
        </select>
        {% elif campo.name == 'departamento' %}
        <select class="form-control form-control-sm" name="{{ campo.name }}" id="{{ campo.id_for_label }}">
            <option>{{ formulario.depatamento.value }}</option>
            <option value="Externa">Externa</option>
            <option value="Comunitaria">Comunitaria</option>
            <option value="Periodoncia">Periodoncia</option>
            <option value="Pacientes especiales">Pacientes especiales</option>
            <option value="Medicina bucal">Medicina bucal</option>
            <option value="Cirugia">Cirugía</option>
            <option value="Clinica A">Clinica A</option>
            <option value="Clinica B">Clinica B</option>
            <option value="Protesis">Protesis</option>
            <option value="Laboratorio excelencia">Laboratorio excelencia</option>
            <option value="Laboratorio general">Laboratorio general</option>
            <option value="PTD">PTD</option>
            <option value="Odontopediatría">Odontopediatría</option>
            <option value="Preclinicio Faus">Preclinicio Faus</option>
            <option value="Endola Forner">Endola Forner</option>
            <option value="Ortodoncía">Ortodoncía</option>
        </select>
        {% elif campo.name == 'estado' %}
        <select class="form-control form-control-sm" name="{{ campo.name }}" id="{{ campo.id_for_label }}">
            <option >{{ formulario.estado.value }}</option>
            <option value="En funcionamiento">En funcionamiento</option>
            <option value="Parado">Parado</option>
            <option value="Estropeado">Estropeado</option>
            <option value="En reparación">En reparación</option>
        </select>
        {% else %}
        <input type="{{ campo.field.widget.input_type }}" class="form-control form-control-sm" name="{{ campo.name }}"
            id="{{ campo.id_for_label }}" aria-describedby="helpId" placeholder="{{ campo.label }}"
            value="{{ campo.value | default_if_none:'' }}">
        {% endif %}
    </div>
    <div class="col-12 help-text">
        {% if campo.errors %}
        <div class="alert alert-danger" style="width: 40%;" role="alert">{{ campo.errors }}</div>
        {% endif %}
        {% endfor %}
    </div>
</div>
        <button type="submit" class="btn btn-success">Guardar</button>
        <a name="" id="" class="btn btn-primary" href="{% url 'listaProductos' %}" role="button">Cancelar</a>
</form>