{% extends "base.html" %}


{% block titulo %} Listado productos {% endblock %}

{% block contenido %}


<div class="card">
    <div class="card-header">
        <div class="alert alert-primary" role="alert">
            <h2><a href="{% url 'listaProductos' %}">Productos</a><a>Buscador</a></h2>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-info table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nº Inventario</th>
                        <th scope="col">Tipo de equipo</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">SN</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Mantenimiento licitado</th>
                        <th scope="col">Nº del mantenedor</th>
                        <th scope="col">Nº Expediente Contratación</th>
                        <th scope="col">Clínica</th>
                        <th scope="col">ACCIÓN</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        {% for producto in productos %}
                        <td>{{ producto.numeroInventario}}</td>
                        <td>{{ producto.tipoEquipo}}</td>
                        <td>{{ producto.marca}}</td>
                        <td>{{ producto.modelo}}</td>
                        <td>{{ producto.sn}}</td>
                        <td>{{ producto.estado}}</td>
                        <td>{% if  producto.mantenimientoLicitado %} <p>Licitado</p> {% else %} <p>No licitado</p> {% endif %}</td>
                        <td>{{ producto.numeroMantenedor}}</td>
                        <td>{{ producto.numExpContratacion}}</td>
                        <td>{{ producto.clinica}}</td>
                        <td>
                            <a name="mostrar" id="mostrar" href="{% url 'mostrarProducto' producto.id %}" class="btn btn-info btn-sm"
                                role="button">Mostrar</a>
                            <a name="editar" id="editar" href="{% url 'editarProducto' producto.id %}" class="btn btn-info btn-sm"
                                role="button">Editar</a>
                            |
                            <a name="eliminar" id="eliminar" href="{% url 'eliminarProducto' producto.id %}"
                                class="btn btn-danger btn-sm" role="button">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <div class="card-footer text-muted">
        <a href="#">ARRIBA</a>
    </div>
</div>


{% endblock %}