{% extends "base.html" %}

{% load static %}

{% block titulo %} Características producto {% endblock %}

{% block contenido %}
<div class="d-flex justify-content-center align-items-center pb-4">
  <div class="card-header text-center rounded-3 shadow-sm border-2 border-white"
    style="background-color: blanchedalmond;width: 50%; font-family: 'Lato';">
    <h1>Características del producto: <br />
      <h3>
        {% for p in producto.values %}
        {{ p.tipoEquipo}}
        <h4>{{ p.subtipoEquipo }}</h4>
        {% endfor %}
      </h3>
    </h1>
  </div>
</div>
<div class="container">
  <div class="row ">
    {% for p in producto.values %}
    <div class="card-body d-flex justify-content-between square-container">
      {% if p.foto1 %}
      <div class="col-4">
        <img src="{{ MEDIA_URL }}/img/{{ p.foto1 }}" class="img-fluid ms-1 rounded-3 shadow-sm border-2 border-white"
          alt="imagen" width="300px">
      </div>
      {% endif %}
      {% if p.foto2 %}
      <div class="col-4">
        <img src="{{ MEDIA_URL }}/img/{{ p.foto2 }}" class="img-fluid ms-1 rounded-3 shadow-sm border-2 border-white"
          alt="imagen" width="300px">
      </div>
      {% endif %}
      {% if p.foto3 %}
      <div class="col-4">
        <img src="{{ MEDIA_URL }}/img/{{ p.foto3 }}" class="img-fluid ms-1 rounded-3 shadow-sm border-2 border-white"
          alt="imagen" width="300px">
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
</div>

{% for p in producto.values %}
{% if p.manualInstrucciones %}
<div class="col-1">
  <img src="{{ MEDIA_URL }}/docs/{{ p.manualInstrucciones }}" class="img-fluid ms-1 rounded-3 shadow-sm border-2 border-white"
    alt="imagen" width="150px">
</div>
{% endif %}
{% endfor %}

<div class="card-body">

  {% for p in producto.values %}
  <ul class="list-group list-group list-group-horizontal">
    <li class="list-group-item flex-fill ms-1 rounded-3 " style="width: 33.33%;">
      <p class="font-weight-bold" style="font-size: 1.2rem;">Tipo de equipo:</p>
      <span>{{ p.tipoEquipo }}</span>
    </li>
    <li class="list-group-item flex-fill ms-1 rounded-3 " style="width: 33.33%;">
      <p class="font-weight-bold" style="font-size: 1.2rem;">Subtipo de equipo:</p>
      <span>{{ p.subtipoEquipo }}</span>

    </li>
    <li class="list-group-item flex-fill ms-1 rounded-3 " style="width: 33.33%;">
      <p class="font-weight-bold" style="font-size: 1.2rem;">Número de inventario:</p>
      <span class="font-weight-bold">{{ p.numeroInventario }}</span>

    </li>
  </ul>
  <ul class="list-group list-group list-group-horizontal">
    <li class="list-group-item flex-fill ms-1 rounded-3 " style="width: 33.33%;">
      {% if p.mantenimientoLicitado %}
      <p class="font-weight-bold" style="font-size: 1.2rem;">Licitado</p>
      {% else %}
      <p class="font-weight-bold" style="font-size: 1.2rem;">No licitado</p>
      {% endif %}
    </li>
    <li class="list-group-item flex-fill ms-1 rounded-3 " style="width: 33.33%;">
      <p class="font-weight-bold" style="font-size: 1.2rem;">Número de Mantenedor:</p>
      <span>{{p.numeroMantenedor}}</span>
    </li>
    <li class="list-group-item flex-fill ms-1 rounded-3 " style="width: 33.33%;">
      <p class="font-weight-bold" style="font-size: 1.2rem;">Marca:</p>
      <span>{{p.marca}}</span>
    </li>
  </ul>
  <ul class="list-group list-group list-group-horizontal">
    <li class="list-group-item flex-fill ms-1 rounded-3 " style="width: 33.33%;">
      <p class="font-weight-bold" style="font-size: 1.2rem;">Modelo:</p>
      <span>{{p.modelo}}</span>
    </li>
    <li class="list-group-item flex-fill ms-1 rounded-3 " style="width: 33.33%;">
      <p class="font-weight-bold" style="font-size: 1.2rem;">Año de fabricación:</p>
      <span>{{p.anyoFabricacion}}</span>
    </li>
    <li class="list-group-item flex-fill ms-1 rounded-3 " style="width: 33.33%;">
      <p class="font-weight-bold" style="font-size: 1.2rem;">SN:</p>
      <span>{{p.sn}}</span>
    </li>
  </ul>
  <ul class="list-group list-group list-group-horizontal">
    <li class="list-group-item flex-fill ms-1 rounded-3 " style="width: 33.33%;">
      <p class="font-weight-bold" style="font-size: 1.2rem;">NREF:</p>
      <span>{{p.nref}}</span>
    </li>
    <li class="list-group-item flex-fill ms-1 rounded-3 " style="width: 33.33%;">
      <p class="font-weight-bold" style="font-size: 1.2rem;">Descripción:</p>
      <span>{{p.descripcion}}</span>
    </li>
    <li class="list-group-item flex-fill ms-1 rounded-3 " style="width: 33.33%;">
      <p class="font-weight-bold" style="font-size: 1.2rem;">Comentarios:</p>
      <span>{{p.comentarios}}</span>
    </li>
  </ul>
  <ul class="list-group list-group list-group-horizontal">
    <li class="list-group-item flex-fill ms-1 rounded-3 " style="width: 33.33%;">
      <p class="font-weight-bold" style="font-size: 1.2rem;">Estado:</p>
      <span>{{p.estado}}</span>
    </li>
    <li class="list-group-item flex-fill ms-1 rounded-3 " style="width: 33.33%;">
      <p class="font-weight-bold" style="font-size: 1.2rem;">Año de compra:</p>
      <span>{{p.anyoCompra}}</span>
    </li>
    <li class="list-group-item flex-fill ms-1 rounded-3 " style="width: 33.33%;">
      <p class="font-weight-bold" style="font-size: 1.2rem;">Número de contratación:</p>
      </span>{{p.numExpContratacion}}</span>
    </li>

  </ul>
  <ul class="list-group list-group list-group-horizontal">
    <li class="list-group-item flex-fill ms-1 rounded-3 " style="width: 33.33%;">
      <p class="font-weight-bold" style="font-size: 1.2rem;">Tiquet de referencia del mantenedor:</p>
      <span>{{p.tiquetsReferenciaMantenedor}}</span>

    </li>
    <li class="list-group-item flex-fill ms-1 rounded-3 " style="width: 33.33%;">
      <p class="font-weight-bold" style="font-size: 1.2rem;">Tiquet de referencia del mantenimiento UV:</p>
      <span>{{p.tiquetsReferenciaMantUV}}</span>

    </li>
    <li class="list-group-item flex-fill ms-1 rounded-3 " style="width: 33.33%;">
      <p class="font-weight-bold" style="font-size: 1.2rem;">Tiquet de refrencia de TiquetingFLA:</p>
      <span>{{p.tiquetsRefTiquetingFLA}}</span>

    </li>
  </ul>
  <ul class="list-group list-group list-group-horizontal">
    <li class="list-group-item flex-fill ms-1 rounded-3 " style="width: 33.33%;">
      <p class="font-weight-bold" style="font-size: 1.2rem;">Otros:</p>
      <span>{{p.otros}}</span>
    </li>
    <li class="list-group-item flex-fill ms-1 rounded-3 " style="width: 33.33%;">
      <p class="font-weight-bold" style="font-size: 1.2rem;">Clínica:</p>
      <span>{{p.clinica}}</span>

    </li>
    <li class="list-group-item flex-fill ms-1 rounded-3 " style="width: 33.33%;">
      <p class="font-weight-bold" style="font-size: 1.2rem;">Ubicación:</p>
      <span>{{p.ubicacion}}</span>

    </li>
  </ul>
  {% endfor %}

</div>
<div style="text-align: center;">
  {% for p in producto.values %}
  <a name="editar" style="width: 50%;" id="editar" href="{% url 'editarProducto' p.id %}"
    class="btn btn-info btn-sm ms-1 rounded-3 shadow-sm border-2 border-white mx-auto" role="button"
    style="display: inline-block;">Editar</a>
  {% endfor %}
  <a name="cancelar" style="width: 50%;" id="cancelar" href="{% url 'listaProductos' %}"
    class="btn btn-success btn-sm ms-1 rounded-3 shadow-sm border-2 border-white mx-auto" role="button"
    style="display: inline-block;">Cancelar</a>
</div>
</div>
{% endblock %}