{% extends "base.html" %}

{% load static %}

{% block titulo %} Características producto {% endblock %}

{% block contenido %}
<h1 class="car">Características Producto</h1>

<div class="card" style="width: 100%">
  <div class="card-body d-flex justify-content-between">  
  <img src="{% static 'img/1.png' %}" class="card-img-top" alt="imagen1"></img>
    <img src="{% static 'img/1.png' %}" class="card-img-top" alt="imagen1"></img>
    <img src="{% static 'img/1.png' %}" class="card-img-top" alt="imagen1"></img>
  </div>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item">Tipo de equipo{{producto.tipoEquipo}}</li>
        <li class="list-group-item">Subtipo de equipo{{producto.subtipoEquipo}}</li>
        <li class="list-group-item">{{producto.numeroInventario}}</li>
        <li class="list-group-item">{{producto.mantenimientoLicitado}}</li>
        <li class="list-group-item">{{producto.numeroMantenedor}}</li>
        <li class="list-group-item">{{producto.marca}}</li>
        <li class="list-group-item">{{producto.modelo}}</li>
        <li class="list-group-item">{{producto.anyoFabricacion}}</li>
        <li class="list-group-item">{{producto.sn}}</li>
        <li class="list-group-item">{{producto.nref}}</li>
        <li class="list-group-item">{{producto.descripcion}}</li>
        <li class="list-group-item">{{producto.comentarios}}</li>
        <li class="list-group-item">{{producto.estado}}</li>
        <li class="list-group-item">{{producto.anyoCompra}}</li>
        <li class="list-group-item">{{producto.numExpContratacion}}</li>
        <li class="list-group-item">{{producto.tiquetsReferenciaMantenedor}}</li>
        <li class="list-group-item">{{producto.tiquetsReferenciaMantUV}}</li>
        <li class="list-group-item">{{producto.tiquetsRefTiquetingFLA}}</li>
        <li class="list-group-item">{{producto.otros}}</li>
        <li class="list-group-item">{{producto.clinica}}</li>
        <li class="list-group-item">{{producto.ubicacion}}</li>
        <li class="list-group-item"></li>
      </ul>
    </div>
  
  </div>

{% endblock %}